<%= form_for(@grupo_estoque, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
<div class="row">
 <div class="col-sm-12">
  <div class="form-group">
    <%= f.label :nome, :class => "control-label" %>
    <%= f.text_field :nome, :class => "form-control first_input", placeholder: "Nome", style: "text-transform:uppercase"  %>
  </div>
  <div class="form-group">
    <%= f.label :descricao_loga, :class => "control-label" %>
    <%= f.text_field :descricao_loga, :class => "form-control",placeholder: "Descrição longa", style: "text-transform:uppercase"  %>
  </div>
  <div class="actions">
  <%= f.submit  @grupo_estoque.new_record? ? "Salvar" : "Salvar", :class => "btn btn-primary" %>
  <button type="reset" class="btn btn-default">Limpar</button>
  <button type="button" class="btn btn-defaul " data-dismiss="modal">Cancelar</button>
  <% end %>
</div>

</div>
</div>
