<p id="notice"><%= notice %></p>

<h1>Listing Unid Meds</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Abreviacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unid_meds.each do |unid_med| %>
      <tr>
        <td><%= unid_med.descricao %></td>
        <td><%= unid_med.abreviacao %></td>
        <td><%= link_to 'Show', unid_med %></td>
        <td><%= link_to 'Edit', edit_unid_med_path(unid_med) %></td>
        <td><%= link_to 'Destroy', unid_med, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unid med', new_unid_med_path %>
