<%= form_for(@insumo, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
<div class="row">
 <div class="col-sm-12">
  <div class="form-group">
    <%= f.label :descricao, :class => "control-label" %>
    <%= f.text_field :descricao, :class => "form-control first_input",placeholder: "Descrição", style: "text-transform:uppercase"  %>
  </div>
  <div class="form-group">
    <%= f.label :quantidade, :class => "control-label" %>
    <%= f.text_field :quantidade, :class => "form-control",placeholder: "Quantidade", style: "text-transform:uppercase", id: "qtd"  %>
  </div>
  <div class="form-group">
    <%= f.label :unid_med, :class => "control-label" %>
    <%= f.collection_select :unid_med, UnidMed.all, :id, :abreviacao, {:prompt => ''}, :class => "form-control"  %>
  </div>
  <div class="actions">
  <%= f.submit  @insumo.new_record? ? "Salvar" : "Salvar", :class => "btn btn-primary" %>
  <button type="reset" class="btn btn-default">Limpar</button>
  <button type="button" class="btn btn-defaul " data-dismiss="modal">Cancelar</button>
  <% end %>
</div>

</div>
</div>
