<%# Script que faz a consulta do CEP e preenche os campos-%>
<script>
function MostraCEP() {
  cep = document.getElementById('cep');
  $.ajax({
    url: "http://cep.republicavirtual.com.br/web_cep.php?cep="+cep.value+ "&formato=json",
    dataType: 'json',
  }).done(function(data){

    document.getElementById('endereco').value = data.tipo_logradouro + " " + data.logradouro;
    document.getElementById('bairro').value = data.bairro;
    document.getElementById('cidade').value = data.cidade;
  }) ;
}
</script>

<%# Cabeçalho da página (NAVBAR) -%>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "LOGO3.png", size: "130x60" %>
      <span class="paginador"><a href="" class="paginador"> INICIO </a> > </span>
      <span class="paginador ativo">LISTA DE CLIENTES</span>
    </div>
  </div>
</nav>

<%# Titulo da página separado por uma 'linha' -%>
<h1 class="titulo-pagina">Clientes</h1>
<hr size="10" width="100%">

<%# Listagem de clientes -%>
<div class="col-md-12">
  <div class="row-fluid">
    <div class="col-md-6 novo">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Inserir novo cliente</button>
    </div>
    <div class="col-md-6">
      <%= search_form_for @q, :url => {:action => "new"}, :html => { :class => "form-inline form-group consultar" } do |f| %>
      <%= f.search_field :nome, class: "form-control col-sm-12", id: "exampleInputAmount", placeholder: "Buscar..." %>
      <button type="submit" class="btn btn btn-primary">Ir!</button>
    </div>
    <% end %>
  </div>
  <table class="responstable">
    <thead>
      <tr>
        <th data-th="Driver details"><span>NOME</span></th>
        <th >ENDEREÇO</th>
        <th >COMPLEMENTO</th>
        <th >BAIRRO</th>
        <th >CIDADE</th>
        <th >CEP</th>
        <th >TELEFONE</th>
        <th >CELULAR</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody >
      <% @clients.each do |client| %>
      <tr >
        <td><%= client.nome %></td>
        <td><%= client.endereco %></td>
        <td><%= client.complemento %></td>
        <td><%= client.bairro %></td>
        <td><%= client.cidade %></td>
        <td><%= client.cep %></td>
        <td><%= client.tel1 %></td>
        <td><%= client.cel1 %></td>
        <td><%= link_to image_tag('view.png'), client %></td>
        <td><%= link_to image_tag('editar.png'), edit_client_path(client) %></td>
        <td><%= link_to image_tag('excluir.png'), client, method: :delete, data: { confirm: 'Confirmar' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%# Modal para cadastro de clientes -%>
<div class="modal fade modalCadastro" id="mModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <div class="row">
         <div class="col-md-3">
           <%= image_tag "client.png", alt: 'Cliente', size: "72x72" %>
         </div>
         <div class="col-md-9">
           <h1 class="modal-title" id="myModalLabel">Cadastro de Cliente</h1>
         </div>
       </div>
     </div>
     <div class="modal-body">
      <%= form_for(@client, :html => { :class => 'form-inline' })  do |f| %>
      <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
          <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field form-horizontal">
        <%= f.label :nome, class: "sr-only" %><br>
        <div class="input-group col-md-12">
          <%= f.text_field :nome, class: "form-control col-sm-12", id: "exampleInputAmount", placeholder: "Nome", style: "text-transform:uppercase"%> 
        </div>
      </div>

      <div class="row">  
        <div class="field form-horizontal col-md-4">
          <%= f.label :cep, class: "sr-only" %>
          <div class="input-group col-md-12">
            <%= f.text_field :cep, class: "form-control", id: "cep", placeholder: "CEP", name: "cep", onblur: "MostraCEP()"  %>        
          </div>
        </div>  
        <div class="field form-horizontal col-md-8">
          <%= f.label :cidade, class: "sr-only" %>
          <div class="input-group col-md-12">
            <%= f.text_field :cidade, class: "form-control", id: "cidade", placeholder: "Cidade", name: "cidade", style: "text-transform:uppercase"  %>
          </div>
        </div>
      </div>

      <div class="field form-horizontal">
        <%= f.label :endereco, class: "sr-only" %>
        <div class="input-group col-md-12">
          <%= f.text_field :endereco, class: "form-control", id: "endereco", placeholder: "Endereço", style: "text-transform:uppercase"  %>
        </div>
      </div>

      <div class="row">
        <div class="field form-horizontal col-md-4">
          <%= f.label :complemento, class: "sr-only" %>
          <div class="input-group col-md-12">
            <%= f.text_field :complemento, class: "form-control", id: "exampleInputPassword3", placeholder: "Apto, .Bloco, etc..", style: "text-transform:uppercase"  %>  
          </div>
        </div>

        <div class="field form-horizontal col-md-8">
          <%= f.label :bairro, class: "sr-only" %>
          <div class="input-group col-md-12">
            <%= f.text_field :bairro, class: "form-control", id: "bairro", placeholder: "Bairro", style: "text-transform:uppercase"  %>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="field form-horizontal col-md-6">
          <%= f.label :tel1, class: "sr-only" %>
          <div class="input-group col-md-12">
            <%= f.text_field :tel1, class: "form-control", id: "exampleInputPassword3", placeholder: "Telefone" %>
          </div>
        </div>

        <div class="field form-horizontal col-md-6">
          <%= f.label :tel2, class: "sr-only" %>
          <div class="input-group col-md-12">
            <%= f.text_field :tel2, class: "form-control", id: "exampleInputPassword3", placeholder: "Telefone Alternativo"  %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="field form-horizontal col-md-6">
          <%= f.label :cel1, class: "sr-only" %>
          <div class="input-group col-md-12">
            <%= f.text_field :cel1, class: "form-control", id: "exampleInputPassword3", placeholder: "Celular"  %>
          </div>
        </div>

        <div class="field form-horizontal col-md-6">
          <%= f.label :cel2, class: "sr-only" %>
          <div class="input-group col-md-12">
            <%= f.text_field :cel2, class: "form-control", id: "exampleInputPassword3", placeholder: "Celular Alternativo"  %>
          </div>
        </div>
      </div>

      <div class="field form-horizontal ">
        <%= f.label :email, class: "sr-only" %>
        <div class="input-group col-md-12">
          <%= f.text_field :email, class: "form-control", id: "exampleInputPassword3", placeholder: "Email", style: "text-transform:uppercase"  %>
        </div>
      </div>

      <div class="field form-horizontal ">
        <%= f.label :obs, class: "sr-only" %>
        <div class="input-group col-md-12">
          <%= f.text_area :obs, class: "form-control", id: "exampleInputPassword3", placeholder: "Observação", style: "text-transform:uppercase"  %>
        </div>
      </div>

      <% @nome = params[:nome] %>
      <h1><%= @nome %></h1>
      <div class="modal-footer">
        <div class="actions">
          <%= f.submit  "Salvar", class: "btn btn-primary btn-lg "%>
          <button type="reset" class="btn btn-default btn-lg">Limpar</button>
          <button type="button" class="btn btn-default btn-lg " data-dismiss="modal">Sair</button>
        </div>
        <% end %>            
      </div>         
    </div>
  </div>
</div>
</div>
</div>



