<%# Script que faz a consulta do CEP e preenche os campos-%>
<script>
function MostraCEP() {
  cep = document.getElementById('cep');
  $.ajax({
    url: "http://cep.republicavirtual.com.br/web_cep.php?cep="+cep.value+ "&formato=json",
    dataType: 'json',
  }).done(function(data){

    document.getElementById('endereco').value = data.tipo_logradouro + " " + data.logradouro;
    document.getElementById('bairro').value = data.bairro;
    document.getElementById('cidade').value = data.cidade;
  }) ;
}
</script>

<%= form_for(@client, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
<div class="row">
 <div class="col-sm-12">
   <div class="field form-horizontal">
    <%= f.label :nome, class: "sr-only" %><br>
    <div class="input-group col-md-12">
      <%= f.text_field :nome, class: "form-control col-sm-12 first_input", id: "exampleInputAmount", placeholder: "Nome", style: "text-transform:uppercase"%> 
    </div>
  </div>

  <div class="row">  
    <div class="field form-horizontal col-md-4">
      <%= f.label :cep, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :cep, class: "form-control", id: "cep", placeholder: "CEP", onblur: "MostraCEP()"  %>        
      </div>
    </div>  
    <div class="field form-horizontal col-md-8">
      <%= f.label :cidade, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :cidade, class: "form-control", id: "cidade", placeholder: "Cidade", style: "text-transform:uppercase"  %>
      </div>
    </div>
  </div>

  <div class="field form-horizontal">
    <%= f.label :endereco, class: "sr-only" %>
    <div class="input-group col-md-12">
      <%= f.text_field :endereco, class: "form-control", id: "endereco", placeholder: "Endereço", style: "text-transform:uppercase"  %>
    </div>
  </div>

  <div class="row">
    <div class="field form-horizontal col-md-4">
      <%= f.label :complemento, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :complemento, class: "form-control", placeholder: "Apto, .Bloco, etc..", style: "text-transform:uppercase"  %>  
      </div>
    </div>

    <div class="field form-horizontal col-md-8">
      <%= f.label :bairro, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :bairro, class: "form-control", id: "bairro", placeholder: "Bairro", style: "text-transform:uppercase"  %>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="field form-horizontal col-md-6">
      <%= f.label :tel1, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :tel1, class: "form-control", placeholder: "Telefone", style: "text-transform:uppercase" %>
      </div>
    </div>

    <div class="field form-horizontal col-md-6">
      <%= f.label :tel2, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :tel2, class: "form-control", placeholder: "Telefone Alternativo", style: "text-transform:uppercase"  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field form-horizontal col-md-6">
      <%= f.label :cel1, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :cel1, class: "form-control", placeholder: "Celular", style: "text-transform:uppercase"  %>
      </div>
    </div>

    <div class="field form-horizontal col-md-6">
      <%= f.label :cel2, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :cel2, class: "form-control", placeholder: "Celular Alternativo", style: "text-transform:uppercase"  %>
      </div>
    </div>
  </div>

  <div class="field form-horizontal ">
    <%= f.label :email, class: "sr-only" %>
    <div class="input-group col-md-12">
      <%= f.text_field :email, class: "form-control", placeholder: "Email", style: "text-transform:uppercase"  %>
    </div>
  </div>

  <div class="field form-horizontal ">
    <%= f.label :obs, class: "sr-only" %>
    <div class="input-group col-md-12">
      <%= f.text_area :obs, class: "form-control", placeholder: "Observação", style: "text-transform:uppercase"  %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit  @client.new_record? ? "Salvar" : "Salvar", :class => "btn btn-primary" %>
    <button type="reset" class="btn btn-default">Limpar</button>
    <button type="button" class="btn btn-defaul " data-dismiss="modal">Cancelar</button>
    <% end %>
  </div>

</div>
</div>
