
<script type="text/javascript">
$(document).ready(function()
{

    $("#myModal").modal("show");
    $('#gestoque_grupo_estoque_id').on('change', function(){
      //pega o valor do select do grupo de estoque
         var id = $('select#gestoque_grupo_estoque_id :selected').val();
      // exclui os ultimos appends
         $('#estoque').children().remove().end().append('<option selected value="whatever">Produto</option>') ;
      //maravilhoso ajax
           $.ajax({ 
           type: "GET", 
           url: "http://localhost:3000/home/json/"+id,
           dataType: "json", 
           success: function(data){ 
               for(i=0; i <= data.length;i++){

                            $('#estoque').append("<option value="+data[i].id+" >"+data[i].nome+"</option>");
                            
              }
            }

          });
    });

    
    $('#estoque').on('change', function(){
         
        //pega o valor do select do grupo de estoque
         var id = $('#estoque').val();
      
      //maravilhoso ajax
       $.ajax({ 
           type: "GET", 
           url: "http://localhost:3000/home/jsonValor/"+id,
           dataType: "json", 
           success: function(data){ 
               

                             $("#valor").val(data.valor_venda);
              
            }

          });        
    })
});
</script>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "LOGO3.png", size: "130x45" %>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">

     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><a href="#" ><%= image_tag "relatorios.png", width: '32', height: '32', alt: 'config' %></a></li>
       <li><a href="#" ><%= image_tag "suporte.png", width: '32', height: '32', alt: 'suporte' %></a></li>
       <li><a href="#" id="config"><%= image_tag "config.png", width: '32', height: '32', alt: 'config' %></a></li>


       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag "exit.png", size: "45x45" %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="row"><!--ROW PRINCIPAL -->
  <div class="col-md-2 sidebar">
<% if user_signed_in? %>
      <% case current_user.role %>
        <% when 'admin' %>
          <%= render partial: "menu_admin" %>
        <% when 'normal_user' %>
          <%= render partial: "menu_usernormal" %>
      <% end %>
    <% else %>
      
    <% end %>
  </div>  
  <div class="col-md-10 fundo-ped"> 
    <button type="button" class="btn btn-primary btn-lg inserir_pedido" data-toggle="modal" data-target="#myModal">
      + Realizar pedido 
    </button>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">EM ESPERA</a></li>
        <li><a href="#tab2" data-toggle="tab">EM PRODUÇÃO</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <% @pedido.each do |pedido| %>
          <% if pedido.status == 1 %>
          <div class="itensPedido">
           <%= pedido.client.nome %><br/>
           endereço : <%= pedido.client.endereco %><br/>
           <div class="iconsPedido">
            <% agora=Time.new %>
            <% 
            now=agora.min
            pd=pedido.created_at.min
            dif=now - pd

            if dif > 1 or dif < 0
              ok="atrasado!!"
            else
              ok="em espera!"
            end
            %>
            <%= now %>
            <%= pd %>
            <%= dif %>
            <%= ok %>
            <%= link_to 'excluir', pedido, method: :delete, data: { confirm: 'Are you sure?' } %>
            <a href="../listar/<%= pedido.id%>"><%= image_tag "list.png", width: '25', height: '25', alt: 'lista de itens' %> </a>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <div class="tab-pane" id="tab2">
        <% @pedido.each do |pedido| %>
        <% if pedido.status == 2 %>
        <div class="itensPedido">
         <%= pedido.client.nome %><br/>
         endereço : <%= pedido.client.endereco %><br/>
         <div class="iconsPedido">
          <a href="../listar/<%= pedido.id%>"><%= image_tag "list.png", width: '25', height: '25', alt: 'lista de itens' %> </a>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>

</div> <!--ROW PRINCIPAL -->







<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Adicione um pedido</h4>
        </div>
        <div class="modal-body">







 <div class="row div_tel_busc">
            <div class="field form-horizontal col-md-4"> 
              <div class="input-group col-md-12"> 
                 <%= search_form_for @q, :url => {:action => "new"}, :html => { :class => "form-inline form-group consultar" } do |f| %>
        <%= f.search_field :tel1_cont, class: "form-control col-sm-12", id: "exampleInputAmount", placeholder: "Telefone" %>
        
              </div>
            </div>
            <div class="field form-horizontal col-md-2"> 
              <div class="input-group col-md-12"> 
                <button type="submit" class="btn btn-warning">Buscar</button>
              </div>
            </div>
        <% end %>

        
          <%= form_for(@client2, :html => { :class => 'form-inline' })  do |f| %>
            <% @clients.each do |client| %>
           
            <div class="field form-horizontal col-md-6"> 
              <div class="input-group col-md-12"> 
                <div class="alert alert-warning alert-dismissible" id="alert-warning" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Dica!</strong> Digite o numero para buscar na base de cadastro.
                </div>
              </div>
            </div>
          </div>
    

            

        <h4>Informações do cliente</h4>
        </hr>

          <div class="row">
          <div class="field form-horizontal col-md-2">
            <%= f.label :client_id, class: "sr-only" %>
            <div class="input-group col-md-12">
              <%= f.text_field :client_id, class: "form-control col-sm-12", id: "exampleInputAmount", placeholder: "ID", value:client.id, disabled:true%>
            </div>
          </div>
          <div class="field form-horizontal col-md-10">
              <%= f.label :nome, class: "sr-only" %>
              <div class="input-group col-md-12">
                <%= f.text_field :nome, class: "form-control", id: "exampleInputPassword3", placeholder: "Nome", value: client.nome, disabled:true  %>
              </div>
            </div>
        
          </div>

          <div class="row">
            <div class="field form-horizontal col-md-9">
              <%= f.label :endereco, class: "sr-only" %>
              <div class="input-group col-md-12">
                <%= f.text_field :endereco, class: "form-control", id: "exampleInputPassword3", placeholder: "Endereço", value:client.endereco, disabled:true %>
              </div>
            </div>

            <div class="field form-horizontal col-md-3">
              <%= f.label :complemento, class: "sr-only" %>
              <div class="input-group col-md-12">
                <%= f.text_field :complemento, class: "form-control", id: "exampleInputPassword3", placeholder: "Compl.", value:client.complemento, disabled:true %>
              </div>
            </div>
          </div>

           <div class="row">
            <div class="field form-horizontal col-md-5">
              <%= f.label :bairro, class: "sr-only" %>
              <div class="input-group col-md-12">
                <%= f.text_field :bairro, class: "form-control", id: "exampleInputPassword3", placeholder: "Bairro", value:client.bairro, disabled:true  %>
              </div>
            </div>

            <div class="field form-horizontal col-md-2">
              <%= f.label :cep, class: "sr-only" %>
              <div class="input-group col-md-12">
                <%= f.text_field :cep, class: "form-control", id: "exampleInputPassword3", placeholder: "CEP", value: client.cep, disabled:true %>
              </div>
            </div>
            <div class="field form-horizontal col-md-5">
              <%= f.label :obs, class: "sr-only" %>
              <div class="input-group col-md-12">
                <%= f.text_field :obs, class: "form-control", id: "exampleInputPassword3", placeholder: "obs",value:client.obs, disabled:true %>
              </div>
            </div>
          </div>   

          <a href="/cadastra/<%= client.id %>">Criar pedido</a>
          <% end %><!-- final client each -->
       <% end %><!-- final form client2 -->

        <h4>Informações dos produtos</h4>
         
                    <div class="row">
                      <div class="field form-horizontal col-md-3">
                        
                      <%= collection_select(:gestoque, :grupo_estoque_id, GrupoEstoque.all, :id, :nome, {:prompt => true}, {:class => 'form-control'})  %>

                      
                      </div>
                      <div class="field form-horizontal col-md-3">

                      <form ng-submit="salva()">

                              <select id="estoque" ng-model="estoque" name="estoque" type="text" class="form-control col-sm-12" id="exampleInputAmount" placeholder="Selecione o produto">
                                <option>Produto</option>
                              </select>
                              </div>
                              <div class="field form-horizontal col-md-2">
                                <div class="input-group col-md-12">
                                  <input id="valor" ng-model="valorVenda" name="valor" type="text" class="form-control col-sm-12" id="exampleInputAmount" placeholder="Valor" value=""/> 
                                </div>
                              </div>
                              <div class="field form-horizontal col-md-2">
                                <div class="input-group col-md-12">
                                  <input id="qtd" ng-model="qtd" name="qtd" type="text" class="form-control col-sm-12" id="exampleInputAmount" placeholder="Qtd" value="1"/> 
                                </div>
                              </div>
                              <div class="field form-horizontal col-md-1">
                                <div class="input-group col-md-12">
                                  
                                    <button ng-click="addProd()" class="btn btn-warning adc" id="enviar">+</button> 
                          

                        </div>
                      </div>
                    </div>
            <div class="row">
                    <table class="table table table-bordered">
                      <thead class="danger">
                        <tr class="row-fluid">
                        <td class="warning">Id</td>
                          <td class="warning">Descrição</td>
                          <td class="warning">Qtd</td>
                          <td class="warning">Valor Unit.</td>
                          <td class="warning">Sub Total</td>
                          <td class="warning">test</td>
                        </tr>
                      </thead>
                      <tbody class="table-striped">

                  
                         <tr class="row-fluid" ng-repeat="estoque in estoqueProd">
                            <td ng-model="prod.id">{{estoque.id}}</td>
                            <td>{{estoque.nome}}</td>
                            <td>{{estoque.qtd}}</td>
                            <td>{{estoque.valor}}</td>
                            <td>{{estoque.valor * estoque.qtd}}</td> 
                            <td> <button type="button"  ng-click="excluir($index)">Excluir</button></td> 
                            
                          </tr>
                       
                      </tbody>
                    </table>
            </div>
            <div class="row">
                      <div class="field form-horizontal col-md-6">
                        <select id="formapgto" name="formapgto" type="text" class="form-control col-sm-12" id="exampleInputAmount" placeholder="Selecione o produto">Forma de pagamento</select>
                      </div>
                      <div class="field form-horizontal col-md-6">
                          <h2 class="valorTotal" >R$ {{total}}</h2>
                      </div>
            </div>

                      <!--final do formulario clientes-->
                      <div class="modal-footer">
                        <div class="actions">
                        

                          <input type="submit" class="btn btn-primary btn-lg " value="Finalizar / Salvar" />
                          </form>
                        
                          <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
       
      </div>
    </div>
  </div>