<%= form_for(@fabricante, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
<div class="row">
 <div class="col-sm-12">
  <div class="form-group">
    <%= f.label :nome, :class => "control-label" %>
    <%= f.text_field :nome, :class => "form-control first_input",placeholder: "Descrição", style: "text-transform:uppercase"  %>
  </div>

  <div class="row">
    <div class="field form-horizontal col-md-6">
      <%= f.label :tel1, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :tel1, class: "form-control", placeholder: "Telefone", style: "text-transform:uppercase" %>
      </div>
    </div>

    <div class="field form-horizontal col-md-6">
      <%= f.label :tel2, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :tel2, class: "form-control", placeholder: "Telefone Alternativo", style: "text-transform:uppercase"  %>
      </div>
    </div>
  </div>
  
  <div class="actions">
  <%= f.submit  @fabricante.new_record? ? "Salvar" : "Salvar", :class => "btn btn-primary" %>
  <button type="reset" class="btn btn-default">Limpar</button>
  <button type="button" class="btn btn-defaul " data-dismiss="modal">Cancelar</button>
  <% end %>
</div>

</div>
</div>
