<%# Script que faz a consulta do CEP e preenche os campos-%>
<script>
function MostraCEP() {
  cep = document.getElementById('cep');
  $.ajax({
    url: "http://cep.republicavirtual.com.br/web_cep.php?cep="+cep.value+ "&formato=json",
    dataType: 'json',
  }).done(function(data){

    document.getElementById('endereco').value = data.tipo_logradouro + " " + data.logradouro;
  }) ;
}
</script>

<%= form_for(@funcionario, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>


  <div class="cl-md-12">
  <div class="field form-horizontal">
    <%= f.label :nome, class: "sr-only" %><br>
    <div class="input-group col-md-12">
      <%= f.text_field :nome, class: "form-control col-sm-12", id: "exampleInputAmount", placeholder: "Nome", style: "text-transform:uppercase"%> 
    </div>
  </div>
  <div class="row">
    <div class="field form-horizontal col-md-4">
      <%= f.label :cargo, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :cargo, class: "form-control", id: "exampleInputAmount", placeholder: "Cargo", style: "text-transform:uppercase"  %>
      </div>
    </div>

    <div class="field form-horizontal col-md-4">
      <%= f.label :salario, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :salario, class: "form-control", id: "exampleInputPassword3", placeholder: "Salário", style: "text-transform:uppercase"  %>  
      </div>
    </div>

    <div class="field form-horizontal col-md-4">
      <%= f.label :comissao, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :comissao, class: "form-control", id: "exampleInputPassword3", placeholder: "Comissão", style: "text-transform:uppercase"  %>
      </div>
    </div>
  </div>

  <div class="row"> 
    <div class="field form-horizontal col-md-3">
      <%= f.label :cep, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :cep, class: "form-control", id: "cep", placeholder: "CEP", style: "text-transform:uppercase", onblur: "MostraCEP()" %>
      </div>
    </div>   
    <div class="field form-horizontal col-md-9">
      <%= f.label :endereco, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :endereco, class: "form-control", id: "endereco", placeholder: "Endereço", style: "text-transform:uppercase"  %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="field form-horizontal col-md-6">
      <%= f.label :tel, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :tel, class: "form-control", id: "exampleInputPassword3", placeholder: "Telefone", style: "text-transform:uppecase" %>
      </div>
    </div>

    <div class="field form-horizontal col-md-6">
      <%= f.label :cel, class: "sr-only" %>
      <div class="input-group col-md-12">
        <%= f.text_field :cel, class: "form-control", id: "exampleInputPassword3", placeholder: "Celular", style: "text-transform:uppecase"  %>
      </div>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit  @funcionario.new_record? ? "Salvar" : "Salvar", :class => "btn btn-primary" %>
    <button type="reset" class="btn btn-default">Limpar</button>
    <button type="button" class="btn btn-defaul " data-dismiss="modal">Cancelar</button>
    <% end %>
  </div>











































